*.iml
.gradle
/local.properties
/.idea/caches/
/.idea/caches/gradle_models.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
/mobile/release/*
.idea/runConfigurations.xml
.idea/vcs.xml
credentials.json
